<h2>Products List</h2>
<div style="background-color:silver"
*ngFor="let productOuter of products">
<!-- Id:{{product.id}}<br/> -->
<a [title]="productOuter.name +' details'"
[routerLink]="['/products', productOuter.id]">
  {{productOuter.name}}</a><br/>

<p *ngIf="productOuter.description">
 Description: {{productOuter.description}}
</p>

<!-- Price:{{product.price}}<br/> -->
<!-- Description:{{product.description}}<br/> -->
<hr/>
<button (click)="share()">
  Share
</button>
<!-- angular selector -->
<app-product-alerts
 [productInner]="productOuter"
 (notify)="Notify()">

</app-product-alerts>
<hr/>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->